<div>
    <form #f="ngForm" (ngSubmit)="enviar(f.value)">
        <input 
            class="form-control m-2" 
            type="text" id="nome" 
            placeholder="Informe nome"
            name="nome"
            ngModel
          />
        
        <input 
           class="form-control m-2" 
           type="text" id="email" 
           placeholder="Informe email"
           ngModel
           name="email"
        />
        
        <input 
           class="form-control m-2" 
           type="text" id="celular" 
           placeholder="Informe celular"
           ngModel
           name="celular"
        />
        
        <button class="btn btn-outline-primary">Gravar</button>
        
    </form>    
    <label class="col-form-label mt-2">{{ msg }}</label>
</div> 